<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<ngx-spinner type="ball-spin-clockwise" size = "medium"><p style="color: black" > Working... </p></ngx-spinner>

<!-- @if (authService.hasLoggedIn()) {
<app-sidebar></app-sidebar>
} -->

<div class="content-header">
    
    <app-header></app-header>
    
    <div class="content container">
        <div class="row">
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>